<div style="display: grid; place-content:center">
	<div class="playground" :style="`width: clamp(10rem, 60vw, 50rem); height: clamp(10rem, 60vw, 50rem); display: grid; grid-template-columns: repeat(${ puzzle.block.w }, 1fr); grid-template-rows: repeat(${ puzzle.block.h }, 1fr);`">
		<template v-for="bit of puzzle.bits">
			<bit :id="bit.id"></bit>
		</template>

		<latch></latch>

		<template v-if="puzzle.candidate">
			<candidate></candidate>
		</template>

		<template v-for="x in puzzle.block.w">
			<template v-for="y in puzzle.block.h">
				<mouse-detection-component :x="x" :y="y" style="z-index: 2;"></mouse-detection-component>
			</template>
		</template>
	</div>
</div>
