<div class="app-container">
	<crumbs-panel panel-title="Unlock">
		<crumbs-p> Déplacez le bloc orange à droite de l'écran. </crumbs-p>

		<playground></playground>

		<div v-if="win">
			<crumbs-p style="text-align:center">
				🎉 C'est gagné pour aujourd'hui ! 🥳 <br>

				<crumbs-button
					v-if="!indeterminedProgressDone"
					@click="showGif()"
					:indeterminate-progress="indeterminedProgress"
					:indeterminate-duration-ms="indeterminedDuration"
					title="Copier dans le presse-papier">
					Afficher le gif
				</crumbs-button>		

				<template v-if="gifUrl && indeterminedProgressDone">
					<div style="display: flex; justify-content: center; align-items: center;">
						<crumbs-button
							@click="share()"
							title="Copier dans le presse-papier">
							Partager avec le score
						</crumbs-button>

						<crumbs-button
							@click="scorelessShare()"
							title="Copier dans le presse-papier">
							Partager
						</crumbs-button>

						<img :src="gifUrl" style="display: inline;">
					</div>
				</template>
			</crumbs-p>
		</div>

		<div v-if="!win" style="display: grid; place-content: center">
			<crumbs-p>
				Mouvements: {{ moveCount }}</crumbs-p>
				<crumbs-button @click="clickBack">
					<span style="font-size: 2rem"> Annuler </span>
				</crumbs-button>
			
		</div>
	</crumbs-panel>
</div>
