<div class="app-container">
	<cookies-panel panel-title="Unlock">
		<cookies-p> Déplacez le bloc orange à droite de l'écran. </cookies-p>

		<playground></playground>

		<div v-if="win">
			<cookies-p style="text-align:center">
				🎉 C'est gagné pour aujourd'hui ! 🥳 <br>

				<template v-if="gifUrl">
					<cookies-button @click="share()" title="Copier dans le presse-papier"> Partager avec le score </cookies-button>
					<cookies-button @click="scorelessShare()" title="Copier dans le presse-papier"> Partager </cookies-button>
					<img :src="gifUrl" style="display: inline;">
				</template>
			</cookies-p>
		</div>

		<div v-if="!win" style="display: grid; place-content: center">
			<cookies-p>
				Mouvements: {{ moveCount }}</cookies-p>
				<cookies-button @click="clickBack">
					<span style="font-size: 2rem"> Annuler </span>
				</cookies-button>
			
		</div>
	</cookies-panel>

	<cookies-snackbar-dock></cookies-snackbar-dock>
</div>
